
body {
    font-family: 'Raleway', sans-serif;
}

.header {
    background-color: #4BACC6;
    color: white;
    text-align: end;
    padding: 2px;
}
.header h1{
    font-size: 40px;
    padding: 10px;
}

.aside {
    height: 50px;
    display: flex;
    margin: 5px 0;
}
.aside -title{
    font-size: 32px;
}
.aside-image {
    margin-left: 20px;
    height: 100%
}

.home-content {
    display:flex;
    justify-content: space-between;

}
.main {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    margin-top: 10px;
}
.nav {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    background-color: #9BBB59;
    color: #fff;
    height: 40px;
    font-weight: 600;
}
    .nav a {
        text-decoration:none;
        font-size: 20px;
        margin: 0 10px;
        padding: 5px;
    }
        .nav a:hover {
            background-color: #8FAB54;
        }
        .nav a:last-of-type {
        margin-right:30px;
        }
        .nav a:visited {
            color: #fff;
        }

.footer {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 85%;
    background-color: #4BACC6;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
   color: #fff;
   font-size: 24px;

}
a {
    text-decoration : none;
    color: #fff;
}
    a:visited {
        color: #000;
    }



.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #000000;
}

    .table td, .table th {
        border: 1px solid #000000;
        padding: 5px;
    }

    .table thead {
        background: #808080;
    }


.btn {
    border: none;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    margin: 5px 0;
}
    .btn a {
        color: white;
    }


.btn-azul {
    background-color: #599bb3;
}
.btn-rojo {
    padding: 5px;
    background-color: firebrick;

}
.btn-verde {
    padding: 5px;
    background-color: darkolivegreen ;
}
.btn-amarillo {
    padding: 5px;
    background-color: darkgoldenrod;
}
.acciones {
    display:flex;
    justify-content: space-evenly;
}

form {
    width: 50%;
}

    form label {
        display:inline-block;
        width: 130px;
        text-align:right;
        margin-right:5px; 
    }
form input {
    width: 300px;
    height:30px
}
    form input[type="submit"] {
        background-color: seagreen;
        border: none;
        width: auto;
        padding: 15px;
        font-size: 14px;
        border-radius: 8px;
        height: auto;
        color: #fff;
        font-weight: 600;
    }

        form p {
            margin: 2px;
        }

.propiedad {
    margin-bottom: 5px;
}
    .propiedad:last-of-type {
    margin-bottom:20px;
    }
.prop-name{
    display:inline-block;
    width: 80px;
    font-weight: 600;
}
