@{
    ViewData["Title"] = "Home";
}
<div class="home-content">
    <h2> @ViewBag.Mensaje</h2>
    <div class="homeFecha">
        <h3>Fecha:</h3>
        <h3> @ViewBag.Fecha</h3>
    </div>
</div>

@Html.ActionLink("Ir a Empleados", "Index", "Empleado")


@section SideBar{ 


    <h2 class="side-title">Bienvenido!</h2>
    
    <img class="side-image" src="/img/smile.png"/>


}
