@{
    ViewData["Title"] = "Home";
}
<h2> @ViewBag.Mensaje</h2>
<div class="homeFecha">
    <h3>Fecha:</h3>
    <h3> @ViewBag.Fecha</h3>
</div>

@Html.ActionLink("Ir a Empleados", "Index", "Empleado")


@section SideBar{ 


    <p>Bienvenido</p>
    
    <img href="#"/>


}
